<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EMMSSO</key>
	<dict>
		<key>internetServerHost</key>
		<string>mdm.zte.com.cn</string>
		<key>internetServerPort</key>
		<string>80</string>
		<key>intranetServerHost</key>
		<string>mdm.zte.com.cn</string>
		<key>intranetServerPort</key>
		<string>80</string>
		<key>headerType</key>
		<integer>0</integer>
		<key>supportGlobalSvrConfig</key>
		<false/>
		<key>rootAppUrlSchema</key>
		<string>zteaacf</string>
		<key>rootAppUrlIdentifier</key>
		<string>com.zte.km.moa</string>
		<key>path</key>
		<dict>
			<key>login</key>
			<string>emm/login/service.jssm</string>
			<key>token</key>
			<string>emm/token/service.jssm</string>
			<key>device</key>
			<string>emm/device/service.jssm</string>
			<key>checkversion</key>
			<string>emm/appExchange/service.jssm</string>
			<key>statistics</key>
			<string>emm/statistics/service.jssm</string>
			<key>globalconfig</key>
			<string>emm/globalServConfig/service.jssm</string>
			<key>uploadlocation</key>
			<string>emm/uploadLocationMsg/service.jssm</string>
		</dict>
	</dict>
</dict>
</plist>
